<div>

    <div class="row about">
        <div class="col-sm-4" style="margin-top: 100px;padding-left: auto;">
            <img src="assets/img/robot.png" style="width: 280px;height: 250px;-webkit-filter: grayscale(100%); filter: grayscale(100%);">
        </div>
        <div class="col-sm-8 about">
            <header class="mb-5"><h1>Welcome to our story</h1></header>
            <br>
            <p class="mb-5"> This idea emerged out of the need of a platform where questions are asked, answered, edited, and organized by its community of users in the form of opinions.You can ask category wise questions and also can upvote,downvote, report or save an answer.

            </p>

        </div>
    </div>
    <div class="text-center footer-link">
        <p style="font-size: 18px;" class="text-center">Developers : Pankaj Tanwar & Himanshu Yadav</p>
    </div>


</div>