<div>
    <div class="row">

        <div class="col-md-12 about">
            <h1 style="text-align: center">Contact Us</h1>
            <br>
            <div class="row">
                <div class="col-md-1">
                    <img src="assets/img/email.svg" style="width: 50px;"/>
                    <svg width="1px" height="1px"
                         xmlns="http://www.w3.org/2000/svg">
                        <text x="10" y="50" font-size="30">My SVG</text>
                    </svg>
                </div>
                <div class="col-md-11">
                    <p> hello@polymath.com </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                    <img src="assets/img/phone.svg" style="width: 50px;"/>
                    <svg width="1px" height="1px"
                         xmlns="http://www.w3.org/2000/svg">
                        <text x="10" y="50" font-size="30">My SVG</text>
                    </svg>
                </div>
                <div class="col-md-11">
                    <p> +91 7740996673 </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                    <img src="assets/img/location.svg" style="width: 50px;"/>
                    <svg width="1px" height="1px"
                         xmlns="http://www.w3.org/2000/svg">
                        <text x="10" y="50" font-size="30">My SVG</text>
                    </svg>
                </div>
                <div class="col-md-11">
                    <p> MNIT Jaipur </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                    <img src="assets/img/development.svg" style="width: 50px;"/>
                    <svg width="1px" height="1px"
                         xmlns="http://www.w3.org/2000/svg">
                        <text x="10" y="50" font-size="30">My SVG</text>
                    </svg>
                </div>
                <div class="col-md-11">
                    <p>Pankaj Tanwar  </p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>