<div>
    <h1 class="text-center">
        What we offer?
    </h1>
    <p class="text-center">All at one place</p>

    <div class="row about">
        <div class="col-md-4 service">
            <img src="assets/img/search.svg" style="width: 170px;"/>
            <br>
            <svg width="30px" height="30px"
                 xmlns="http://www.w3.org/2000/svg">
                <text x="10" y="50" font-size="30">My SVG</text>
            </svg>
            <br>
            <header class="mb-5 text-center"><h1>Find Best Questions</h1></header>
            <p class="text-center"> We helps you to find the best knowledge.</p>
        </div>

        <div class="col-md-4 service ">
            <img src="assets/img/student.svg" style="width: 170px;"/>
            <br>
            <svg width="30px" height="30px"
                 xmlns="http://www.w3.org/2000/svg">
                <text x="10" y="50" font-size="30">My SVG</text>
            </svg>
            <br>
            <header class="mb-5 text-center"><h1>Category Distribution</h1></header>
            <p class="text-center"> We provide category wise questions.</p>
        </div>

        <div class="col-md-4 service">
            <img src="assets/img/mentor.svg" style="width: 170px;"/>
            <br>
            <svg width="30px" height="30px"
                 xmlns="http://www.w3.org/2000/svg">
                <text x="10" y="50" font-size="30">My SVG</text>
            </svg>
            <br>
            <header class="mb-5 text-center"><h1>Be a mentor</h1></header>
            <p class="text-center"> We provide a platform for best writers to guide community.</p>
        </div>
    </div>
</div>