@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	overflow-x: hidden;
	
}

button:focus {
    outline: none;
}

a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}

h1 {
	color: #FFFFFF;
	font-size: 4rem;	
}

p {
	color: #FFFFFF;	
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 99%;
}


.tm-content {
    z-index: 1001;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.form-control::placeholder {
    color: white;
}

.form-control {  
    color: #FFFFFF;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.75rem 1.2rem;
}

.footer-link {
    margin: 40px;
	font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align:center;
    width:100%;
    z-index: 1001;
}

.navbar-inverse{
	background-color : transparent;
	border-color : transparent;
}
.navbar-inverse .navbar-collapse{
	background-color : transparent;
	border-color : transparent;
}
.prata-font {
	font-family : prata;
}
.navbar-brand {
	font-size : 24px;
	padding-top : 21px;
	
}
@media screen and (max-width: 600px) { 
	.tm-content {
		margin-top: 10px;
	}
}

@media screen and (max-width: 576px) {
    .container {
    	width : 290px;
    }
}

.cb-slideshow-text-container {
    height: 100vh;
    display: flex;
}


.landing-text {
    margin-top: 140px;
}

.about {
    margin-top: 80px;
}

.service {
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;
    width: 260px;
    text-align: center;
}

@media screen and (max-width: 576px) {

    .container {
        width : 290px;
    }
    .footer-link {
        position: relative;
    }
}

.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}
.navbar-inverse .navbar-brand{
    color: #ffffff;
}

.showmore {
    display: inline;
}
.question {
    color: black;
}
.author {
    font-size: 12px;
}
.report-button {
    color: red;
    font-weight: bold;
    background-color: transparent;
}
.transparent-button-white {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
/* Profile page CSS */
.side-menu{
    padding-bottom: 10px;
}
.side-menu img{
    height: 35px;
    width: 35px;
}
.side-menu p{
    font-size: 17px;
    margin-top: 12px;
}
.input-div {
    position: fixed;
    bottom: 40px;
    width: 100%;
}
.message-div {
    height: 400px;
    overflow: auto;
    overflow-x: hidden ;
}
.managementBtn {
    padding:30px;
    margin-left: 30px;
    width: 230px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.chatbox-holder {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 0;
}

.chatbox {
    width : 1256px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    transition: .1s ease-out;
    height: 500px;
}


.chatbox-icons a, .chatbox-icons a:link, .chatbox-icons a:visited {
    color: white;
}
.chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-messages {
    border: 2px solid white;
    border-radius: 1em;
    padding: 20px;
    margin-bottom: 10px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
}

.message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
    color: #30649c;
    text-decoration: none;
}

.message-box {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: white;
    font-size: 19px;
}

.message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid rgba(100, 170, 0, .2);
    border-right: none;
    bottom: -22px;
    right: 10px;
}

.message-partner {
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
}

.message-partner:after {
    right: auto;
    bottom: auto;
    top: -22px;
    left: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 114, 135, .2);
    border-left: none;
}

.chat-input-holder {
    margin-bottom: 20px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.chat-input {
    width: 1100px;
    resize: none;
    padding-left: 16px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: white;
    flex: 1;
    border-radius: 1em;
    background: rgba(0, 0, 0, .05);
    margin-right: 10px;
}

.chat-input:focus, .message-send:focus {
    outline: none;
}

.message-send::-moz-focus-inner {
    border:0;
    padding:0;
}

.message-send {
    -webkit-appearance: none;
    color: white;
    border: none;
    padding: 12px;
}
.attachment-panel a, .attachment-panel a:link, .attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.chatbox-min .chat-partner-name, .chatbox-min .chat-group-name {
    padding: 0 0 0 75px;
}
