<!--
Page Updated on 10 Oct. 2018 by Pankaj Tanwar
 -->
<div ng-show="questionanswered.number===0">
    <div class="text-center">
        <br>
        <h1>You haven't answered any question.</h1>
    </div>
</div>
<div ng-show="questionanswered.number>0">

    <div class="text-center">
        <br>
        <h1>All Answered Questions</h1>
    </div>
    <br>

    <div style="border: 2px solid white;margin-top: 5px;border-radius: 10px;">
        <div style="padding: 15px;" ng-repeat="answer in questionanswered.questionsAnswered">

            <div style="color: white;padding-left: 15px;">
                <b> {{ answer.question }}? </b>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="author">Answered by : <a href="/users/{{ questionanswered.author }}">@{{ questionanswered.author }}</a></h6>
                    </div>
                    <div class="panel-body">
                        {{ answer.answer }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
