<br>
<div class="text-center">
    <h1>
        Update Profile Picture
    </h1>
</div>
<br>
<form ng-submit="profilePic.updateProfilePic(URLData)">
    <label>Enter Profile Picture URL :</label>
    <input class="form-control" type="url" ng-model="profilePic.URLData.link" required>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<br>
<br>
<div class="row show-hide-message">
    <div class="alert alert-success" ng-show="profilePic.successMsg">
        <strong> Oops! </strong> {{ profilePic.successMsg  }}
    </div>
</div>
<div class="row show-hide-message">
    <div class="alert alert-danger" ng-show="profilePic.errorMsg">
        <strong> Oops! </strong> {{ profilePic.errorMsg  }}
    </div>
</div>