<!-- Users Profile Page : Written by Pankaj Tanwar -->

<br>
<div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2">
        <img style="color: white;margin-top: 6px" src="/assets/img/profilepic.svg"></img>
    </div>
    <div class="col-sm-9">
        <h1>{{ usersprofile.name}}</h1>
        <br>
        <br>
        <span class="label label-success">Beginner</span>
        <button ng-show="!usersprofile.follow && !usersprofile.sameuser" class="btn btn-primary" type="button" ng-click="usersprofile.followhim();"><b>Follow</b></button>
        <button ng-show="usersprofile.follow" class="btn btn-danger" type="button" ng-click="usersprofile.unfollowhim();"><b>Unfollow</b></button>
        <a href="/edit/{{ usersprofile.id }}">
            <button ng-show="usersprofile.sameuser" class="btn transparent-button-white" type="button">Edit Profile</button>
        </a>
        <button ng-show="usersprofile.sameuser" ng-click="main.logout();" type="button" class="btn btn-danger">Logout</button>
    </div>
</div>

<div style="padding-top: 40px;" class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/answer.svg">
            </div>
            <div class="col-sm-7">
                <a href="/answered/{{usersprofile.username}}">
                    <p>Answers</p>
                </a>
            </div>
        </div>
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/question.svg">
            </div>
            <div class="col-sm-7">
                <a href="/questionasked/{{usersprofile.username}}">
                    <p>Questions</p>
                </a>

            </div>
        </div>
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/activity.svg">
            </div>
            <div class="col-sm-7">
                <a href="/notifications">
                    <p>Notifications</p>
                </a>

            </div>
        </div>
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/followers.svg">
            </div>
            <div class="col-sm-7">
                <a href="/users/{{usersprofile.username}}/followers">
                    <p>Followers</p>
                </a>

            </div>
        </div>
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/following.svg">
            </div>
            <div class="col-sm-7">
                <a href="/users/{{usersprofile.username}}/following">
                    <p>Following</p>
                </a>

            </div>
        </div>
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/topic.svg">
            </div>
            <div class="col-sm-7">
                <a href="/tags">
                    <p>Topics</p>
                </a>

            </div>
        </div>
        <div class="row side-menu">
            <div class="col-sm-3">
                <img src="/assets/img/saveanswer.svg">
            </div>
            <div class="col-sm-7">
                <a href="/savedanswers">
                    <p>Saved Answers</p>
                </a>
            </div>
        </div>
    </div>
</div>

