<div>
    <br>
    <div class="text-center">
        <h1>Admin Management</h1>
    </div>
</div>
<div style="margin-left: 180px;">

    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <a href="/userManagement">
                <button type="button" class="btn btn-primary managementBtn"> User Management</button>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/report">
                <button type="button" class="btn btn-success managementBtn"> Report Management</button>
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <a href="/questionManagement">
                <button type="button" class="btn btn-info managementBtn"> Questions Management</button>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/tagManagement">
                <button type="button" class="btn btn-befault managementBtn"> Tags Management</button>
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <a href="/articleManagement">
                <button type="button" class="btn btn-danger managementBtn"> Articles Management</button>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/guideManagement">
                <button type="button" class="btn btn-warning managementBtn"> Guide Management</button>
            </a>
        </div>
    </div>
</div>
