<br>
<!-- Not only admin, users can also view this page -->
<div class="text-center">
    <h1>
        Top Users
    </h1>
</div>

<div class="container-fluid">

    <div>
        <div style="padding: 15px;">
            <div style="padding-top: 12px;">
                <table class="table" style="border: 2px solid white;margin-top: 20px;color: white;" rules=none>
                    <tr ng-repeat="person in users.users">
                        <th>{{ person.name }}</th>
                        <th>{{ person.username }}</th>
                        <th ng-show="person.active"><span class="label label-success author">Active</span></th>
                        <th ng-show="!person.active"><span class="label label-danger author"> Inactive </span></th>
                        <th>{{ person.email }}</th>
                        <th><a href="/users/{{ person.username }}" style="color: #a90329;"><span class="glyphicon glyphicon-user"></span></a> </th>
                    </tr>
                </table>

            </div>

        </div>
    </div>
</div>
