<br>
<!-- Not only admin, users can also view this page -->

<div class="container-fluid">

    <div style="border: 2px solid white;margin-top: 20px;border-radius: 10px;">
        <div style="padding: 15px;">
            <div style="color: white;padding-left: 15px;">
                <strong>Top Users</strong>
            </div>
            <div style="padding-top: 12px;">
                <table class="table" style="color: white;" rules=none>
                    <tr ng-repeat="person in users.users">
                        <th>{{ person.name }}</th>
                        <th>{{ person.username }}</th>
                        <th ng-show="person.active"><span class="label label-success author">Active</span></th>
                        <th ng-show="!person.active"><span class="label label-danger author"> Inactive </span></th>
                        <th>{{ person.email }}</th>
                        <th><a href="/users/{{ person.username }}" style="color: #a90329;"><span class="glyphicon glyphicon-user"></span></a> </th>
                    </tr>
                </table>

            </div>

        </div>
    </div>
</div>
