<div>
    <br>
    <div class="text-center">
        <h1>Write Article</h1>
    </div>
</div>
<br>
<br>
<div style="padding-bottom: 50px;">
    <form ng-submit="writeArticle.addArticle(articleData);">
        <label>Article Topic :</label>
        <input type="text" class="form-control" name="newquestion" ng-model="articleData.topic" required>
        <br>
        <label>Content :</label>
        <textarea class="form-control" rows="4" cols="50" ng-model="articleData.content" required></textarea>
        <br>
        <div class="form-group">
            <label> Select Tag :</label>
            <select ng-model="articleData.tag" style="background-color: transparent;padding: 5px;margin-left: 5px;" required>
                <option ng-repeat="tag in writeArticle.tags" value="{{ tag.tag }}">
                    {{tag.tag}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Want to be anonymous?</label>
            <select ng-model="articleData.anonymous" style="background-color: transparent;padding: 5px;margin-left: 5px;" required>
                <option value="yes">
                    Yes
                </option>
                <option value="no">
                    No
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit"> Submit Article </button>
    </form>
    <br>
    <br>

    <div class="row show-hide-message">
        <div class="alert alert-success" ng-show="writeArticle.successMsg">
            <strong> Success! </strong> {{ writeArticle.successMsg  }}
        </div>
    </div>

    <div class="row show-hide-message">
        <div class="alert alert-danger" ng-show="writeArticle.errorMsg">
            <strong> Oops! </strong> {{ writeArticle.errorMsg  }}
        </div>
    </div>
</div>

